*{
    box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
     
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    background-color: rgb(33, 26, 51);
    padding: 20px 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    
}

.nav-search{
    flex: 1;
    display: flex;
align-items: center;
}
.search{
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 8px;
    margin-left: 20px;
}
.nav-search h3{
    background-color: yellow;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    border-radius:0 5px 5px 0;
    color: black;
}
.nav-list{
    margin-left: 30px;
}
  ul li {
    
    display:  inline-flex;
     margin-left: 10px;
     margin-right: 10px;
    
}
.nav-list a:hover, .active{
    color: rgb(245, 160, 245);
}

footer{
    display: flex;
    text-align: center;
    color: white;
    background-color: rgb(33, 26, 51);
    padding: 20px;
    justify-content: space-between;
  
}

.buttons{
    display: flex;
    align-items: center;
}
button[type="signin"]{
    padding: 10px 20px;
   color:white;
   background:  linear-gradient(to right,rgb(125, 23, 221),rgb(180, 113, 243));
    width: 100%;
    margin: 5px;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
button[type="signin"] a{
    color: white;
    text-decoration: none;
}
.nav-list ul li a{
    cursor: pointer;
     text-decoration: none;
}
.header-backgroud img{
     
     max-width: 100%;
     max-height: 100%;
}
.box-row{
display: flex;
flex-wrap: wrap ;
 align-content: center;
 
margin: 20px 30px;
top: 50%;
z-index: 1;
 position: absolute;

}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background-color: white;
    max-width: 24%;
    min-width: 200px;
}
.box-col a{
color: blueviolet;
font-size: 13px;
font-weight: 500;
}
.box-col img{
    border: 1px solid;
}
.header-box{
    margin-top: -30vh;
}
.nav-right{
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    align-items: center;
    max-width: 100%;
}
.search-bar input{
    outline: none;
    border: none;
    padding: 9px;
    border-radius: 20px 0 0 20px;
}
.search-bar p{
    border-radius: 0 20px 20px 0;
padding: 9px;
color: white;
background:  linear-gradient(to right,rgb(125, 23, 221),rgb(180, 113, 243));
cursor: pointer;
}
section{
    display: flex;
    height: 100vh;
     
  
}
.section.active{
display: block;
}

.section{
    display: none;
}
.container-cat{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}
table{
    border: 1px solid black;
    color: black;
    border-collapse: collapse;

}
table td{
    border: 1px solid;
    padding: 20px;
}
 
.product-cont{
    display: flex;
     
    
    padding: 15px 4%;
    background-color: white;
    
    border: 1px solid;
}
 
.product-cont ul{
    display: flex;
    overflow-y: hidden;

}
.image-div img{
    width: 400px;
    height: 400px;
}
.product-description{
    padding:20px 4%;
    display: flex;
    flex-direction: column;
     color: black;
     gap: 15px;
     flex-wrap: wrap;
}
.product-description h4{
    color: purple;
}
.product-description .cart{
    padding: 10px 20px;
    color:white;
    background:  linear-gradient(to right,rgb(125, 23, 221),rgb(180, 113, 243));
     width: 100%;
     margin: 5px;
     border: none;
     border-radius: 20px;
     text-align: center;
     cursor: pointer;
}
.product-description .list{
    padding: 10px 20px;
    color:black;
    background:  linear-gradient(to right,rgb(211, 207, 207),rgb(200, 180, 219));
     width: 100%;
     margin: 5px;
     border: none;
     border-radius: 20px;
     text-align: center;
     cursor: pointer;
}
.product-description .left-stock{
    background-color: red;
    color: white;
    padding: 5px;
    width: 20%;
    border-radius: 5px;
}
.product-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
   
}
.product-table{
    padding: 10px 4%;
}
.product-table table{
    border-collapse: collapse;
}
.product-table td{
    padding: 10px;
}
.product-table .heading{
    background-color: rgb(204, 197, 197);
}
.container-cat{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    min-width: 300px;
    
    
}
.about-cont{

  display: flex;
    flex-wrap: wrap ;
     align-content: center;
     flex-direction: column;
     gap: 20px;
     background-color:  rgb(72, 56, 110);
     justify-content: center;
     height: 100vh;
      
}
.box-row-about{
    display: flex;
    flex-wrap: wrap ;
     align-content: center;
     margin-left: 10px;
    margin: 20px 30px;
 
    
    
    }
    .box-col-about{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
        background-color: white;
        max-width: 24%;
        min-width: 200px;
        margin-left: 40px;
        color: black;
        border-radius: 20px;
    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
        align-items: center;
        max-width: 50%;
        min-width: 200px;
        margin-left: 40px;
        color: black;
        justify-content: center;
        align-content: center;
         margin-left: 30%;
    }
    .desc-div{
        margin-top: 20px;
      
        color: black;
    }
    .title-div{
        align-items: center;
        justify-content: center;
    }
    #productList {
        list-style-type: none;
        padding: 0;
    }
    
    #productList li {
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 5px;
        font-size: 18px;
        text-align: left;
    }
    
    .product-name {
        font-weight: bold;
    }
    
    .product-model {
        font-style: italic;
        color: #555;
    }
    
    .product-price {
        color: green;
        font-weight: bold;
    }
    .box-col .cart{
        padding: 10px 20px;
        color:white;
        background:  linear-gradient(to right,rgb(125, 23, 221),rgb(180, 113, 243));
         width: 100%;
         margin: 5px;
         border: none;
         border-radius: 20px;
         text-align: center;
         cursor: pointer;
    }
    .box-col{
        color: black;
        border-radius: 5px;
    }
    .container-pro h1{
        text-align: center;
        color: black;
        padding-top: 20px;
    }
    .container-pro .header-box{
        background-color: white;
    }
    .box-col-tab   h3{
        color: purple;
        cursor: pointer;
    }
    .container-pro{
        background-color: #8a8686;
    }
    
.box-row{
    display: flex;
    flex-wrap: wrap ;
     align-content: center;
     
    margin: 20px 30px;
    top: 50%;
    z-index: 1;
     position: absolute;
    
    }
    .box-col{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
        background-color: white;
        max-width: 24%;
        min-width: 200px;
    }
    .box-col a{
    color: blueviolet;
    font-size: 13px;
    font-weight: 500;
    }
    .box-col img{
        border: 1px solid;
    }
    .header-box{
        margin-top: -30vh;
    }